<h1 style="text-align: center;">Hello, study!</h1>
<p style="text-align: center;">You can sign up. This is all you can.</p>

<% if @user == nil %>
<p style="text-align: center;"><%= link_to "REGISTRATION", new_user_path %> | <%= link_to "LOGIN", login_path %></p>
<% else %>
<p style="text-align: center;"><%= link_to "PROFIL", user_path(@user.id) %> | <%= link_to "EXIT", user_path(@user.id), method: :delete %></p>
<% end %>